*{font-family:Arial, Helvetica, sans-serif;
    margin : 0;}
   body{
        background-color: white;
        text-align: center;
        margin: auto;}
        main{
            background-color: rgb(34, 33, 33);
            height: 955px;
            margin:auto;
        }
            .vid{
                position:relative;
                top:0px;
                left: 0px;
                width: 90%;
                height: 99.7%;
                overflow-y: hidden;
                display:inline-flex;
                z-index: 0;
            }
                span{
                color: white;
                font-weight: bold;
                z-index: 1;
                position:absolute;
            }
            .titulo{
                top:8%;
                left: 10%;
                font-size: 200%;
            }
            .cont1{
                top:25%;
                left: 10%;
                font-size: 500%;
            }
            .cont2{
                top:35%;
                left: 10%;
                font-size: 400%;
            }
            .cont3{
                top:45%;
                left: 10%;
                font-size: 135%;
            }
            .explor{ 
                text-decoration: none;         
                background-color: white;
                color: black;
                padding: 15px 36px;
                position:absolute;
                left:10%;
                top:55%;
                z-index: 1;
                font-size: 125%;
            }
            .icon{
                position: absolute;
                z-index: 1;
            }
            #icon1{             
                height: 20px;
                width: 15px;
                top: 90%;
                left: 10%;
                filter: invert(100%);             
            }
            #icon2{         
                height: 20px;
                width: 20px;
                top: 90%;
                left: 13.5%;
                filter: invert(100%);              
             }
            #icon3{         
                height: 20px;
                width: 20px;
                top: 90%;
                left: 17%;
                filter: invert(100%);               
            }
            #icon4{               
                height: 20px;
                width: 30px;
                top: 10%;
                left: 85%;    
            }


